
:root {
 --color1: #2196F3;
 --color2: #212121;
 --color3: #000000;
 --color4: #FFFFFF;
 --color5: #2F303A;
 --color6: #757575;


}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.web {
    color: var(--color1);
}



.web {
    color: var(--color1);


    
}

.header-mail {
    color: rgba(0, 0, 0, 0);
}

.header-tel {
    color: rgba(0, 0, 0, 0);
}



.header-div {

}




.studio {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color:var(--color3)
}

.header-item {
    color: rgba(0, 0, 0, 0);

}

.header-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--color2)
}

.header-link:hover,
.header-link:focus {
    color: var(--color1)

}

.header-list {

 

}

.header-word {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--color2)
}


.header-word:focus,
.header-word:hover {
    color:var(--color1)
}

.list-btn {
    color: rgba(0, 0, 0, 0);

}

.type-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color2)
}

.type-btn:focus,
.type-btn:hover {
    background-color: var(--color1);
    color: var(--color4);
}


.item-mail,
.item-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--color6)
}

.item-mail:focus,
.item-mail:hover {
    color:var(--color1)
}

.item-tel:focus,
.item-tel:hover {
    color: var(--color1);
}


.div-grey {
   
    background:var(--color5)
}

.main-big {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color:var(--color4)
   
}

.main-image {
    color: rgba(0, 0, 0, 0);

 
}

.main-portfolio {


}

.images {
   
}

.main-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background:var(--color1)
}

.btn-text {

}

.description-item {
    color: rgba(0, 0, 0, 0);
    



}
 
   




.main-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color2)
}

.main-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
   letter-spacing: 0.03em;
   color:var(--color6)
}

.description-item {

}


.gallery {
 


}

.photos {
  
}

.list-photos {
    color: rgba(0, 0, 0, 0);

}

.img-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em; 
    color:var(--color2)
}

.img-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color:var(--color6)
}

.main-photos {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color2)
}

.team-div {

}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color2)
}

.class-worker {

    background: url(4853.jpg);
    border-radius: 0px;
}

.team-list {



}

.main-frame {
    color: rgba(0, 0, 0, 0);

}

.main-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color2)
}

.main-nametag {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--color6)
}

.main-frame {
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.footer-div {

    background:var(--color5)
}

.footer-logo {
   

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color:var(--color1)

}

.stud {
    color: var(--color4)
}

.footer-list {

}

.footer-adress {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color:var(--color4)
}

.footer-item {
    color: rgba(0, 0, 0, 0);

}

.footer-logo {
    text-decoration: none;
}

.footer-mail, 
.footer-tel {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}














